Client/node_modules/**/*
Client/.expo/*
Client/.expo-shared
Client/.vscode
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

.vs


# macOS
.DS_Store

Backend/.vscode/*
Backend/.idea/*
Backend/.vs/*
Backend/InfoHub.API/bin/*
Backend/InfoHub.API/obj/*
Backend/InfoHub.API/.idea/*
Backend/InfoHub.Core/bin/*
Backend/InfoHub.Core/obj/*
Backend/InfoHub.Infrastructure/bin/*
Backend/InfoHub.Infrastructure/obj/*
Backend/InfoHub.API/.idea/*
